:host {
    padding: 16px 40px;
    font-size: 1.1rem;
    font-family: var(--font-family);
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-style: none;
    cursor: pointer;

    &.btn-primary {
        &-black {
            background-color: var(--c-black);
            color: var(--c-white);

            &:hover {
                background-color: var(--c-gray-dark);
            }
        }

        &-goiaba {
            background-color: var(--c-goiaba);
            color: var(--c-white);

            &:hover {
                background-color: var(--c-goiaba-light);
            }
        }
    }

    &.btn-secondary {
        &-black {
            background-color: inherit;
            color: var(--c-black);
            border: 1px solid var(--c-black);

            &:hover {
                background-color: var(--c-gray);
            }
        }

        &-goiaba {
            background-color: inherit;
            color: var(--c-goiaba);
            border: 1px solid var(--c-goiaba);

            &:hover {
                background-color: var(--c-goiaba-light);
            }
        }
    }
}