.link-page {
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--c-gray-dark);
    cursor: pointer;
    margin: 1rem;

    &:hover {
        color: var(--c-goiaba);
    }

    &.link-activated {
        color: var(--c-goiaba);
        text-decoration: underline;
    }
}

.border-section {
    border: 1px solid var(--c-gray);
    padding: 24px;
    border-radius: 16px;
    width: -webkit-fill-available;
}